body{
    background-color: #285e75;
    margin: 0;
}
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #000;
    overflow: hidden;
    position: sticky;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
}
#navname{
    padding-left: 33%;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active{
    background-color: #4c75c0;
    color: white;
    text-decoration: underline;
}
li a:hover:not(.active){
    background-color: #000; 
    color: #4c75c0;
}
@media screen and (max-width: 600px) {
    #navbar li.right, 
    #navbar li {float: none;}
}
#title{
  text-align: center;
  font-size: 40px;
  color: #4a0a5a;
}
* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  height: 500px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #4a0a5a;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.column {
  float: left;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: larger;
}