body{
    background-color: #0f3647;
    margin: 0;
}
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #000;
    overflow: hidden;
    position: sticky;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
}
#navname{
    padding-left: 33%;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active{
    background-color: #4c75c0;
    color: white;
    text-decoration: underline;
}
li a:hover:not(.active){
    background-color: #000; 
    color: #4c75c0;
}
@media screen and (max-width: 600px) {
    #navbar li.right, 
    #navbar li {float: none;}
}
*{
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: larger;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
      width: 100%;}
}
.albump{
    text-align: left;
}